.mainLayout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadButton {
  color: #ffffff;
  width: 270px;
  height: 60px;
  margin: 30px 0px;
  background: #187fde;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.usageText {
  font-weight: 400;
  width: 80%;
  color: #5f5f5f;
  margin-bottom: 15px;
}

.codeMirrorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
