.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.topMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: var(--top-menu-height);
  flex-shrink: 0;
  background: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.topTitle {
  font-weight: 300;
  font-size: 28px;
  color: #3b6eba;
  /* Fix width for title to make the toggle button align with the center of Preview area */
  /* minus the margin */
  width: calc(var(--left-menu-width) - 25px);
  white-space: nowrap;
  margin-left: 25px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: calc(100% - var(--top-menu-height));
}

.leftMenu {
  flex: auto 0 0;
  /* minus the padding */
  width: calc(var(--left-menu-width) - 15px - 15px);
  padding: 5px 15px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.resetButton {
  color: #4b98c4;
  height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  cursor: pointer;
}

.targetContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.styleItem {
  margin-top: 10px;
  margin-bottom: 10px;
}
